.welcome-card  {
  height: 20vh;
}
.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}
ion-slides ion-avatar{
  height: -2vh !important;
  border-radius: 50%;
  width: 100%;
}
ion-slides .recent{
  height: 50vh;
}
ion-slide{
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
 }
ion-slide .slide-content{
  background: red ; 
  height: 100% ;
  width: 100% ; 
  position: absolute;
   top: 97px ; 
   left: 0;
   color:#fff ;

}