<ion-header>
  <ion-toolbar>
    <ion-title>
      Artizone
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- card-->
    <ion-card class="welcome-card">
      <ion-img src="/assets/imgs/shoes.jpg"></ion-img>

      <ion-card-content>
          ArtizoneArtizoneArtizoneArtizoneArtizoneArtizoneArtizoneArtizone
      </ion-card-content>    
    </ion-card>
  
  <!-- categorie-->
    <ion-grid>
        <ion-row>
          <ion-col size="9" >
            Categories
          </ion-col>
          <ion-col size="3">
            <small>voir plus <ion-icon name="arrow-forward"></ion-icon> </small>
          </ion-col>
          </ion-row>
          </ion-grid>
    <!--slides Categries-->
          <ion-slides  [options]="slideOpts" style="padding:6px"  >
              <ion-slide>
                  <ion-img src="assets/imgs/1.jpeg">
                  </ion-img>
                  <div class="categories">
                    <h6> ccccc</h6>
                  </div>
              </ion-slide>
              <ion-slide >
                  <ion-img src="assets/imgs/3.jpeg"> </ion-img>
                   <div class="categories">
                    <h6> ccccc</h6>
                  </div>

              </ion-slide>
              <ion-slide >
                  <ion-img src="assets/imgs/2.jpeg"> </ion-img>
                   <div class="categories">
                    <h6> ccccc</h6>
                  </div>
              </ion-slide>
            </ion-slides>
            <ion-slides  [options]="slideOpts"  style="padding:6px" >
                <ion-slide >
                    <ion-img src="assets/imgs/1.jpeg"> </ion-img>
                    <div class="categories">
                        <h6> ccccc</h6>
                    </div>
                </ion-slide>
                <ion-slide >
                    <ion-img src="assets/imgs/2.jpeg"> </ion-img>
                    <div class="categories">
                        <h6> ccccc</h6>
                      </div>    
                </ion-slide>
                <ion-slide >
                    <ion-img src="assets/imgs/3.jpeg"> </ion-img>
                    <div class="categories">
                        <h6> ccccc</h6>
                      </div>    
                </ion-slide>
              </ion-slides>
   <!-- recents -->

   <!-- categorie-->
   <ion-grid>
      <ion-row>
        <ion-col size="9">
          Recents
        </ion-col>
        </ion-row>
        </ion-grid>

   <!--slides recents -->

         <ion-slides  [options]="slideOpts" class="recent" #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
            <ion-slide> 
                <div class="recent-content">
                  <ion-img src="{{src0}}" class="recent-img"> </ion-img>
                <h6>{{product0}}</h6>
                <h6>{{price0}}</h6>
              </div>
            </ion-slide>
            <ion-slide> 
                <div class="recent-content">
                    <ion-img src="{{src1}}" class="recent-img"> </ion-img>
                <h6>{{product1}}</h6>
                <h6>{{price1}}</h6>
              </div>
            </ion-slide> 
            <ion-slide> 
                <div class="recent-content">
                    <ion-img src="{{src2}}" class="recent-img"> </ion-img>
                    <h6>{{product0}}</h6>
                  <h6>{{price0}}</h6>
                </div>
              </ion-slide>
              <ion-slide> 
                  <div class="recent-content">
                      <ion-img src="{{src3}}" class="recent-img"> </ion-img>
                    <h6>{{product1}}</h6>
                  <h6>{{price1}}</h6>
                </div>
              </ion-slide> 
              <ion-slide> 
                  <div class="recent-content">
                      <ion-img src="{{src4}}" class="recent-img"> </ion-img>
                      <h6>{{product1}}</h6>
                    <h6>{{price1}}</h6>
                  </div>
                </ion-slide> 
                <ion-slide> 
                    <div class="recent-content">
                        <ion-img src="{{src5}}" class="recent-img"> </ion-img>
                        <h6>{{product5}}</h6>
                      <h6>{{price5}}</h6>
                    </div>
                  </ion-slide>
                  <ion-slide> 
                      <div class="recent-content">
                          <ion-img src="{{src6}}" class="recent-img"> </ion-img>
                        <h6>{{product6}}</h6>
                      <h6>{{price7}}</h6>
                    </div>
                  </ion-slide> 
                  <ion-slide> 
                      <div class="recent-content">
                          <ion-img src="{{src7}}" class="recent-img"> </ion-img>
                          <h6>{{product7}}</h6>
                        <h6>{{price7}}</h6>
                      </div>
                    </ion-slide>
                    <ion-slide> 
                        <div class="recent-content">
                            <ion-img src="{{src8}}" class="recent-img"> </ion-img>
                          <h6>{{product8}}</h6>
                        <h6>{{price8}}</h6>
                      </div>
                    </ion-slide> 
                    <ion-slide> 
                        <div class="recent-content">
                            <ion-img src="{{src9}}" class="recent-img"> </ion-img>
                          <h6>{{product9}}</h6>
                          <h6>{{price9}}</h6>
                        </div>
                      </ion-slide> 
          </ion-slides>
</ion-content>
