<ion-header>
  <ion-toolbar>
    <ion-title>
      Baby Pangui
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- card-->
    <div class="welcome-card">
      <div class="welcome-card-content">Baby Pangui est vos Meuilleure direction pour choisir les vetements de vos  bébés </div>
    </div>
  <!-- categorie-->
    <ion-grid>
        <ion-row class="categ-text">
          <ion-col size="9" >
            Categories
          </ion-col>
          <ion-col size="3" class="categ-text-voir">
             Voir Plus <ion-icon (click)="gotocategorie()" name="arrow-forward"></ion-icon>
          </ion-col>
          </ion-row>
          </ion-grid>
    <!--slides Categries-->
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div style="padding: 6px 0;display: inline-block; border-radius: 4px; position: relative;">
            <img src="assets/imgs/sacs.JPG" style="border-radius: 4px;vertical-align: middle; height: 100px;width: 200px;" />
            <div class="categories">
              <h6 class="categorie-name"> Sacs </h6>
            </div>
        </div>
        </ion-col>
        <ion-col size="4">
          <div style="padding: 6px 0;display: inline-block; border-radius: 4px; position: relative;">
            <img src="assets/imgs/couverte.jpg" style="border-radius: 4px;vertical-align: middle; height: 100px;width: 200px;" />
            <div class="categories">
              <h6 class="categorie-name"> Couvertes </h6>
            </div>
        </div>
        </ion-col><ion-col size="4">
          <div style="padding: 6px 0;display: inline-block; border-radius: 4px; position: relative;">
            <img src="assets/imgs/bavoir.jpg" style="border-radius: 4px;vertical-align: middle; height: 100px;width: 200px;" />
            <div class="categories">
              <h6 class="categorie-name"> Bavoirs </h6>
            </div>
        </div>
        </ion-col>
        <ion-col size="4">
          <div style="padding: 6px 0;display: inline-block; border-radius: 4px; position: relative;">
            <img src="assets/imgs/sortie.JPG" style="border-radius: 4px;vertical-align: middle; height: 100px;width: 200px;" />
            <div class="categories">
              <h6 class="categorie-name"> Sorties...</h6>
            </div>
        </div>
        </ion-col>
        <ion-col size="4">
          <div style="padding: 6px 0;display: inline-block; border-radius: 4px; position: relative;">
            <img src="assets/imgs/aise.jpg" style="border-radius: 4px;vertical-align: middle; height: 100px;width: 200px;" />
            <div class="categories">
              <h6 class="categorie-name"> Aise</h6>
            </div>
        </div>
        </ion-col>
        <ion-col size="4">
          <div style="padding: 6px 0;display: inline-block; border-radius: 4px; position: relative;">
            <img src="assets/imgs/artisana.JPG" style="border-radius: 4px;vertical-align: middle; height: 100px;width: 200px;" />
            <div class="categories">
              <h6 class="categorie-name"> Artisana</h6>
            </div>
        </div>
        </ion-col>
        </ion-row>
        </ion-grid>

   
   <!-- recents -->

   <!-- categorie-->
   <ion-grid>
      <ion-row>
        <ion-col size="9" class="categ-text">
          Recents
        </ion-col>
        </ion-row>
        </ion-grid>

   <!--slides recents -->

         <ion-slides  [options]="slideOpts" class="recent" #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
            <ion-slide> 
                <div class="recent-content">
                  <ion-img src="{{src0}}" class="recent-img"> </ion-img>
                <h6 class="product-name ">{{product0}}...</h6>
                <h6 class="product-price ">{{price0}} <span>Dt</span></h6>
              </div>
            </ion-slide>
            <ion-slide> 
                <div class="recent-content">
                    <ion-img src="{{src1}}" class="recent-img"> </ion-img>
                <h6>{{product1}}...</h6>
                <h6>{{price1}} <span>Dt</span></h6>
              </div>
            </ion-slide> 
            <ion-slide> 
                <div class="recent-content">
                    <ion-img src="{{src2}}" class="recent-img"> </ion-img>
                    <h6>{{product0}}...</h6>
                  <h6>{{price0}} <span>Dt</span></h6>
                </div>
              </ion-slide>
              <ion-slide> 
                  <div class="recent-content">
                      <ion-img src="{{src3}}" class="recent-img"> </ion-img>
                    <h6>{{product3}}...</h6>
                  <h6>{{price3}} <span>Dt</span></h6>
                </div>
              </ion-slide> 
              <ion-slide> 
                  <div class="recent-content">
                      <ion-img src="{{src4}}" class="recent-img"> </ion-img>
                      <h6>{{product4}}...</h6>
                    <h6>{{price4}} <span>Dt</span></h6>
                  </div>
                </ion-slide> 
                <ion-slide> 
                    <div class="recent-content">
                        <ion-img src="{{src5}}" class="recent-img"> </ion-img>
                        <h6>{{product5}}...</h6>
                      <h6>{{price5}} <span>Dt</span></h6>
                    </div>
                  </ion-slide>
                  <ion-slide> 
                      <div class="recent-content">
                          <ion-img src="{{src6}}" class="recent-img"> </ion-img>
                        <h6>{{product6}}...</h6>
                      <h6>{{price6}} <span>Dt</span></h6>
                    </div>
                  </ion-slide> 
                  <ion-slide> 
                      <div class="recent-content">
                          <ion-img src="{{src7}}" class="recent-img"> </ion-img>
                          <h6>{{product7}}...</h6>
                        <h6>{{price7}} <span>Dt</span></h6>
                      </div>
                    </ion-slide>
                    <ion-slide> 
                        <div class="recent-content">
                            <ion-img src="{{src8}}" class="recent-img"> </ion-img>
                          <h6>{{product8}}...</h6>
                        <h6>{{price8}} <span>Dt</span></h6>
                      </div>
                    </ion-slide> 
                    <ion-slide> 
                        <div class="recent-content">
                            <ion-img src="{{src9}}" class="recent-img"> </ion-img>
                          <h6>{{product9}}...</h6>
                          <h6>{{price9}} <span>Dt</span></h6>
                        </div>
                      </ion-slide> 
          </ion-slides>
</ion-content>
